.image{
    width: 300px;
    height: 350px;
    margin: 20px 50px;
    position: relative;
    left: 150px;
}
.wrap{
    display: inline-block;
}
.text{
    text-align: center;
    margin-top: -10px;
    position: relative;
    left: 150px;
}

.descript{
    font-size: 0.8em;
    color: grey;
}
.price {
    color: black;
    font-size: 0.8em;
    font-weight: 600;
}